<footer>
    <div class="email-footer-text">
      <h3>EMAIL SIGN-UP</h3>
      <p><strong>Sign up</strong> for KENT&CURWEN emails and receive the latest news from the House, including exclusive online pre-launches and new collections.</p>
    </div>
    <p>SHIPPING TO: <strong>PAKISTAN (GBP)</strong> &nbsp;&nbsp; LANGUAGE: <strong>ENGLISH</strong></p>

    <div class="footer-options">
      <p><a href="#" class="signup-link">Privacy</a></p>
      <p><a href="#" class="signup-link">Terms</a></p>
    </div>
  </footer>