<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title><%= typeof title !== 'undefined' ? title : "Kent & Curwen" %></title>
<link rel="stylesheet" href="/css/style.css" />
<% if (typeof pageStyle !== 'undefined') { %>
  <link rel="stylesheet" href="/css/<%= pageStyle %>.css" />
<% } %>
