<!DOCTYPE html>
<html>
  <head>
    <title>RESUME</title>
    <style>
      body {
        background-color: white;
        color: black;
        font-family: Arial, Helvetica, sans-serif;
        margin: 40px;
        padding: 20px;
      }
      h1 {
        text-align: center;
        border-bottom: 2px solid black;
        padding: 10px;
      }
      h2 {
        color: black;
      }
      img {
        width: 200px;
        height: 200px;
        border: 5px solid black;
        float: right;
        margin: 10px;   
      }
      ul {
        list-style-type: square;
      }
      li {
        margin-bottom: 5px;
      }
      .icon {
        margin-right: 10px;
      }
    </style>
     <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <h1>RESUME</h1>
        <hr>
        <img src="/assets/image.jpg
        " alt="Profile Picture">
        <h2><i class="fas fa-user icon"></i>Name: Mutawiffah Mudassar Khan</h2>
        <hr>
        <h2><i class="fas fa-info-circle icon"></i> Personal Info:</h2>
        <ul>
            <li><i class="fas fa-birthday-cake icon"></i>Age: 20</li>
            <li><i class="fas fa-envelope icon"></i>Email: mutawiffahkhan@gmail.com</li>
            <li><i class="fas fa-phone icon"></i>Phone: +92 3130846687</li>
            <li><i class="fas fa-map-marker-alt icon"></i>Address: Lahore, Pakistan</li>
        </ul>
        <hr>
        <h2><i class="fas fa-graduation-cap icon"></i> Education:</h2>
        <ul>
            <li><i class="fas fa-school icon"></i>Matriculation from The Trust School</li>
            <li><i class="fas fa-university icon"></i>Intermediate from Queen Mary College</li>
            <li><i class="fas fa-graduation-cap icon"></i>BS Artificial Intelligence from COMSATS Lahore</li>
        </ul>
        <hr>
        <h3><i class="fa fa-briefcase"></i> WORK EXPERIENCE</h3>
        <p>Currently, I'm a Student</p>
        <hr>
        
        <h2><i class="fas fa-heart icon"></i> Hobbies</h2>
        <ul>
            <li><i class="fas fa-headphones icon"></i>Music</li>
            <li><i class="fas fa-utensils icon"></i>Eating</li>
        </ul>
    </body>
</html>