<!DOCTYPE html>
<html lang="en">
  <link rel="stylesheet" href="/css/style.css">
  <%- include("partials/head") %>
  <body>
    <% if (title !== 'Login' && title !== 'Register') { %>
      <%- include("partials/header") %>
    <% } %>

    <main>
      <%- body %>
    </main>

    <% if (title !== 'Login' && title !== 'Register') { %>
      <%- include("partials/footer") %>
    <% } %>
  </body>
</html>
