<% layout = 'layout' %>
<% block('styles') { %>
  <link rel="stylesheet" href="/css/login.css" />
<% } %>

<h1>Login</h1>

<% if (typeof error !== "undefined") { %>
  <p style="color:red;"><%= error %></p>
<% } %>

<form method="POST" action="/login">
  <label>Email</label>
  <input type="text" name="email" required placeholder="Email" />

  <label>Password</label>
  <input type="password" name="password" required placeholder="Password" />

  <button type="submit">Login</button>
  <p>Don’t have an account? <a href="/signup">Sign up</a></p>
</form>
